# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example.gitignore files : https://github.com/github/gitignore
_notes/
/bower_components/
/node_modules/

#Ignore .MP4 files -test a change - test branch
*.mp4
*.MP4
*.DS_Store